doctype 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/style.css')
    script(type='text/javascript')
      if (foo) {
         bar()
      }
  body
    .nameBanner
      .imgWrapper
        img.solstice(src='/images/alyssa.jpg')
    #container
      .intro-text
        | Alyssa Ravasio is a developer with a degree in Digital Democracy* from UCLA.
      .project
        a(href='http://www.gopispriorities.com/', target='_blank')
          img.project-thumbnail(src='/images/gopi.jpg')
        .description
          a(href='http://www.gopispriorities.com/', target='_blank') Gopi's Priorities 
          | is the first app I ever deployed. It is built in homage to 
          a(href='http://www.kallayil.com/', target='_blank') Gopi Kallayil, 
          | who taught me these ten priorities at Burning Man 2012. 
      .project
        a(href='http://www.thegeotube.com/', target='_blank')
          img.project-thumbnail(src='/images/geotube.jpg')
        .description 
          | The Geotube was my second, built as a final project for 
          a(href='http://devbootcamp.com/', target='_blank') Dev Bootcamp.
          |  I was extremely fortunate to work with three amazing classmates: 
          a(href='http://www.enocompton.net/', target='_blank') Eno Compton,  
          | 
          a(href='https://github.com/marybethlee', target='_blank') Mary Lee,
          |  and  
          a(href='http://www.ryanloomba.com/', target='_blank') Ryan Loomba.
      .project 
        a(href='http://alpha.hipcamp.com/', target='_blank')
          img.project-thumbnail(src='/images/hipcamp.jpg')
        .description
          | Currently, I am working full time on 
          a(href='http://alpha.hipcamp.com/') Hipcamp,
          |  where I am working to increase public access to campgrounds at State and National Parks. 
          |  Hipcamp helps you discover and reserve campgrounds, and is in alpha. 
      .footer-text
        | * She developed this major herself via the honors individual studies program 
        | because it did not exist. 
